.textBio {
    color: aliceblue;
    text-align: center;
    display: flex;
    width: auto;
    padding: 8px;
    padding-left: 12px;
    opacity: 0.9;

    p {
        text-align: left;
    }

}

.principalBio {
    display: flex;
    height: 40%;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: $dark1;
    opacity: .9;
}

.photoBio {
    display: flex;
    height: 50vh;
    margin-top: auto;
    justify-content: center;
}

.pages_bio {
    background-image: url(../img/backbio.jpg);
    background-size: cover;
}


/* Media Queries */

@media (max-width: 768px) {

    .principalBio {
        flex-direction: column;
    }

    .photoBio {
        width: 50vw;
        height: auto;
    }

}