.fechas__tabla {
    color: white;
    font-size: 120%;
}

/* FLEXBOX */

.fechas {
    display: flex;
    justify-content: center;
}

/* Estilo Fechas */

.fechas__tabla {
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid white;
    padding: 15px;
}

.pages_fechas {
    background-image: url(../img/backfechas4.jpg);
    background-size: cover;
}

tr:hover {
    background-color: $dark1;
    color: white;
    opacity: 0.5;
}

/* Media Queries */

@media (max-width: 768px) {

    .pages_fechas {
        background-color: $dark2;
        background-image: none;
        overflow: scroll;
        overflow-x: hidden;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: none;
        float: none;
        width: 60%;
      }
    
      .header__menu ul li {
        margin-top: 2vh;
      }
    
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
      }

      h1 {
          margin-top: 25vh;
      }

    }